# Veri Dünyasına İlk Adımlar!

> **Dünya gittikçe büyüyor ve büyüyor.**

Artık eski bildiğimiz dünyadan çok daha büyük bir dünyada yaşıyoruz. Hatta siz bunu okurken bile dünyamız daha çok büyüdü😅 Bütün hareketlerimiz "**veri**" üretiyor. **Dünya, dedelerimizin bildiği dünyadan çok farklı bir yer!!!**

![](https://cdn-images-1.medium.com/max/1000/0*rjMfsTBQXa7e1Pvn.png)

# Peki bu gelişen ve büyüyen Veri Dünyasına nasıl dahil olabiliriz?

Veriler çeşitli dosya tülerinde depolanır. Bu depolanan veriler topluluğuna **veri seti (dataset)** veya **veri kümesi** denir. **Veri setleri** genellikle **CSV** dosyaları, **Excel** dosyaları veya **SQL** dosyalarında depolanır.

![](https://cdn-images-1.medium.com/max/1000/0*oWGNwO8YeQKVQ8ca.png)


![](https://cdn-images-1.medium.com/max/1000/0*gANOJafVSYVRTtAT.png)


![](https://cdn-images-1.medium.com/max/1000/0*ya9MFAp7D-7lzBhU.png)

Şimdi size veriler nasıl okunur onları göstericem.

# CSV dosyaları ile başlayalım!

**CSV** demek "*Comma-separated values*" yani virgülle ayrılmış değerler demektir. Bir **CSV** dosyasını açtığınızda karşınıza virgülle ayrılmış veriler gelir.


Bunun gibi:

![](https://cdn-images-1.medium.com/max/1000/0*4dfkFSkK1GgK-AQi.png)

## CSV dosyasını nasıl okucaz?

Python'da veriler üzerinde operasyon ve işlem yapmamızı çok kolaylaştıran **pandas** kütüphanesini ***import*** etmemiz gerek.

In [1]:
import pandas as pd

***import pandas*** demek pandas kütüphanesini Python ortamınıza ekler. ***as pd*** eklediğimiz **pandas** kütüphanesini yalnızca ***pd*** yazarak çağırabilmemize yarar.


### Hadi ilk verimizi okuyalım!


>**Hazır mısın ?**

In [2]:
df=pd.read_csv("/kaggle/input/first-step-in-data-world-medium/yourfilename.csv")
# verimizi df isimli değişkene atadık.

> **Tebrikler🎉**


Artık **CSV** dosyasındaki verileri okuyabiliyorsun😊

In [3]:
df

  name  age   pet
0  Bob   20   cat
1  Jen   30   dog
2  Tim   40  bird

# Nasıl Excel dosyalarından verileri okuyabiliriz?

Yeniden **pandas** kütüphanesini kullanıcaz.


Pandas kütüphanemizi önceden import ettiğimizden bi daha import etmemize gerek yok.

In [4]:
import pandas as pd

Verimizi şu şekilde excel dosyalarından okuyoruz:

In [5]:
data=pd.read_excel('/kaggle/input/first-step-in-data-world-medium/test_pandas.xlsm','Sheet1')

/opt/conda/lib/python3.7/site-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

Parantezden sonra ilk dosya adı sonra sayfa ismi yazılır.

In [6]:
data

   Column A Column B  Column C
0         1      cat       1.1
1         2      dog       2.2
2         3     bird       3.3

Sizlerinde gördügü üzere, **Excel** dosyasından veriyi çekebildik.


> **Tebrik ederim🎉**


**Excel** dosyalarından veri okumayı da öğrendiniz.
# SQL dosyalarından nasıl veri çekilir?
Burada bölümde 2 tane kütüphane kullanıcaz: **pandas** ve **sqlite3**

In [7]:
import pandas as pd
import sqlite3

Sonra **Database**'e bağlanmamız gerek:

In [8]:
conn=sqlite3.connect('/kaggle/input/first-step-in-data-world-medium/test_pandas.db')

Hadi veriyi çekelim:

In [9]:
sql_query="SELECT*FROM test"
data=pd.read_sql(sql_query,conn)

In [10]:
data

    id           city    mascot
0    1  San Francisco     49ers
1    2        Oakland   Raiders
2    3        Seattle  Seahawks
3    4        Chicago     Bears
4    5            NYC      Jets
5    6             LA      Rams
6    7            ANA  Chargers
7    6             LA      Rams
8    7            ANA  Chargers
9    6             LA      Rams
10   7            ANA  Chargers
11   6             LA      Rams
12   7            ANA  Chargers

**SQL** dosyasından veri çekmeyi başardık.


> **Tebrik ederim 🎉**


---


> ## Veri Dünyasında attığınız bu adımlar;
> ## Sizin için küçük ama insanlık için büyük bir adım!


![](https://cdn-images-1.medium.com/max/1000/0*cHuAR-hpBcBctT9P)

---
Bu yazı ile beraber sizler de Veri Dünyasına girmiş bulunmaktasınız.
- **CSV** dosyasından veri çekmeyi
- **Excel** dosyasından veri çekmeyi
- **SQL** database'inden veri çekmeyi
öğrendiniz.


Peki bundan sonra napıcaz dediğinizi duyar gibiyim.
## BEKLEMEDE KALIN!


## "Yeni arkadaşımız EDA" yazımız yakında gelicek!

---

# Ahmet Talha Bektaş
> 📧 [E-mail Hesabım](mailto:atalhabektas@gmail.com)

> 🔗 [LinkedIn Hesabım](https://www.linkedin.com/in/ahmet-talha-bekta%C5%9F-056844216)

> 💻 [GitHub Hesabım](https://github.com/ahmettalhabektastr)

> 👨‍💻 [Kaggle Hesabım](https://www.kaggle.com/ahmettalhabektastr)

> 📋 [Medium Hesabım](https://medium.com/@ahmettalhabektas_tr)